.clear-bottom {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.copy {
  font-size: 14px;
  color: $color__via-grey;
  @media screen and (min-width: $tabwidth){
    font-size: 16px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 800;
  }
  a {
    text-decoration: none;
    color: $color__via-green;
    position: relative;
    &:hover {
      color: $color__via-red;
      text-decoration: underline;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__via-grey;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0;
      font-size: inherit;
      padding: 0;
      list-style-type: none;
      text-indent: -14px;
      &:before {
        content: "\25A0";
        color: $color__via-green;
        margin-right: 5px;
      }
      a {
        cursor: pointer;
        &:hover {
          color: $color__via-red;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
body {
  &.page-id-104, &.page-id-106 {
    #masthead {
      @media screen and (min-width: $midwidth){
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
      }
    }
  }
  &.home {
    #masthead {
      box-shadow: none;
      @media screen and (min-width: $midwidth){
        z-index: 20;
        top: 0;
        left: 0;
        position: fixed;
      }
    }
  }
}
#masthead {
  width: 100%;
  padding: 0;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 .5px 30px black;
  max-height: 100vh;
  @include flexbox();
  @include flexbox-direction(column);
  @include flexbox-align-content(flex-start);
  @include flexbox-align-items(flex-start);
  @include flexbox-justify(flex-start);
  @media screen and (min-width: $midwidth){
    padding: 10px 3% 30px 3%;
  }
  >.mobile {
    background-color: $color__via-gold;
    color: white;
    padding: 5px;
    width: 100%;
    @media screen and (min-width: $midwidth){
      display: none;
    }
    ul {
      @include flexbox();
      @include flexbox-justify(space-between);
      @include flexbox-align-content(center);
      @include flexbox-align-items(center);
      @include flexbox-wrap(no-wrap);
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        display: block;
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          border: 1px solid white;
          padding: 0 10px;
          margin-right: 0;
        }
        a {
          color:inherit;
          text-decoration: none;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
  >.row-1 {
    width: 100%;
    order: 2;
    margin: 0;
    display: none;
    text-align: center;
    padding: 0 30px 30px 30px;
    @include flexbox-flex(0,0,auto);
    &.toggled {
      display: block;
    }
    @media screen and (min-width: $midwidth){
      order: 1;
      display: block;
      padding: 0;
      margin: 0 0 10px 0;
      text-align: right;
    }
    >.menu-header-container {
      @media screen and (min-width: $midwidth){
        display: inline-block;
      }
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (min-width: $midwidth){
          text-align: right;
        }
        li {
          display: block;
          margin: 10px 0;
          list-style-type: none;
          &:first-child {
            margin: 0 0 10px 0;
          }
          &:last-child {
            display: inline-block;
            max-width: 80%;
            margin: 10px auto 10px auto;
            background-color: $color__via-gold;
            padding: 10px 15px;
            @media screen and (min-width: $midwidth){
              margin: 0 5px;
              width: auto;
            }
            a {
              display: block;
              color: white;
            }
          }
          @media screen and (min-width: $midwidth){
            display: inline-block;
            margin: 0 5px;
            &:first-child {
              margin: 0 5px;
            }
          }
          a {
            text-decoration: none;
            color: $color__via-grey;
            font-size: 16px;
            @media screen and (min-width: $midwidth){
              font-size: 14px;
            }
            &:hover {
              color: $color__via-red;
            }
          }
        }
      }
    }
    >.button {
      max-width: 80%;
      margin: 20px auto 10px auto;
      text-align: center;
      display: inline-block;
      order: 2;
      @media screen and (min-width: $midwidth){
        margin: 0 0 0 5px;
        order: 3;
      }
      a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        background-color: $color__via-red;
        color: white;
        font-size: 16px;
        @media screen and (min-width: $midwidth){
          font-size: 14px;
        }
        &:hover {
          color: white;
          background-color: $color__via-red-hover;
        }
      }
    }
  }
  >.row-2 {
    width: 100%;
    @include flexbox-flex(0,0,auto);
    @include flexbox();
    @include flexbox-direction(column);
    @include flexbox-align-content(center);
    @include flexbox-align-items(center);
    @include flexbox-justify(center);
    order: 1;
    padding: 30px;
    &.toggled {
      padding: 30px 30px 0 30px;
    }
    @media screen and (min-width: $midwidth){
      @include flexbox-align-content(flex-end);
      @include flexbox-align-items(flex-end);
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      @include flexbox-wrap(wrap);
      order: 2;
      padding: 0;
    }
    @media screen and (min-width: $midwidth){
      @include flexbox-wrap(no-wrap);
    }
    .logo {
      margin: 0;
      width: 60%;
      order: 1;
      @media screen and (min-width: $tabwidth){
        width: 50%;
      }
      @media screen and (min-width: $midwidth){
        margin: 0;
        width: 20%;
        min-width: 200px;
      }
      a {
        display: block;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    #site-navigation {
      text-align: center;
      width: 100%;
      order: 3;
      @media screen and (min-width: $midwidth){
        display: none;
        width: auto;
        order: 3;
      }
      @media screen and (min-width: $deskwidth){
        display: block;
        order: 2;
      }
      &.toggled {
        .menu-primary-container {
          display: block;
        }
      }
      button {
        display: inline-block;
        margin: 40px 0 0 0;
        box-shadow: none;
        text-shadow: none;
        background-color: $color__via-red;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 18px;
        @media screen and (min-width: $midwidth){
          display: none;
        }
        &:hover {
          background-color: $color__via-red-hover;
        }
      }
      .menu-primary-container {
        display: none;
        @media screen and (min-width: $deskwidth){
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          text-align: center;
          li {
            list-style-type: none;
            margin: 10px 0;
            display: block;
            position: relative;
            &:hover {
              >ul.sub-menu {
                display: block;
              }
            }
            @media screen and (min-width: $midwidth){
              display: inline-block;
              line-height: 2.0;
              margin: 0 20px;
            }
            &:last-child {
              @media screen and (min-width: $midwidth){
                margin-right: 0;
              }
            }
            a {
              text-decoration: none;
              color: $color__via-grey;
              font-size: 16px;
              @media screen and (min-width: $midwidth){
                font-size: 18px;
                font-weight: 700;
              }
              &:hover {
                color: $color__via-red;
              }
            } 
            ul.sub-menu {
              width: 100%;
              @media screen and (min-width: $midwidth){
                display: none;
                background-color: rgba(255,255,255,0.9);
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                padding: 10px 0 0 0;
                border-top: 4px solid $color__via-red;
                background-image: url('./images/red-arrow.png');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 20px;
                
              }
              li {
                cursor: pointer;
                display: block;
                line-height: 1.2;
                padding: 10px 5px 5px 20px;
                margin: 0;
                &:last-child {
                  border-bottom: none;
                }
                &:hover {
                  background-color: white;
                }
                @media screen and (min-width: $midwidth){
                  border-bottom: 2px solid lightgrey;
                  text-align: left;
                }
                a {
                  color: $color__via-grey;
                  font-size: 16px;
                  font-weight: 500;
                  &:hover {
                    color: $color__via-red;
                  }
                  @media screen and (min-width: $midwidth){
                    color: $color__via-grey;
                    &:hover {
                      color: $color__via-grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .mid-size-button {
      display: none;
      background-color: $color__via-red;
      color: white;
      padding: 10px;
      font-size: 18px;
      order: 2;
      @media screen and (min-width: $midwidth){
        display: block;
      }
      @media screen and (min-width: $deskwidth){
        display: none;
      }
      &:hover {
        background-color: $color__via-red-hover;
      }
    }
  }
  >.row-3#site-navigation-mid {
    width: 100%;
    order: 3;
    border-top: 2px solid $color__via-red;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    display: none;
    &.toggled-mid {
      @media screen and (min-width: $midwidth){
        display: block;
      }
      @media screen and (min-width: $deskwidth){
        display: none;
      }
    }
    .menu-primary-container {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
          list-style-type: none;
          margin: 10px 0;
          display: block;
          position: relative;
          &:hover {
            >ul.sub-menu {
              display: block;
            }
          }
          @media screen and (min-width: $midwidth){
            display: inline-block;
            line-height: 2.0;
            margin: 0 20px;
          }
          &:last-child {
            @media screen and (min-width: $midwidth){
              margin-right: 0;
            }
          }
          a {
            text-decoration: none;
            color: $color__via-grey;
            @media screen and (min-width: $midwidth){
              font-size: 14px;
              font-weight: 700;
            }
            &:hover {
              color: $color__via-red;
            }
          } 
          ul.sub-menu {
            width: 100%;
            @media screen and (min-width: $midwidth){
              display: none;
              background-color: rgba(255,255,255,0.9);
              position: absolute;
              top: 100%;
              left: 0;
              padding: 10px 0 0 0;
              border-top: 4px solid $color__via-red;
              background-image: url('./images/red-arrow.png');
              background-repeat: no-repeat;
              background-position: top center;
              background-size: 20px;
              
            }
            li {
              cursor: pointer;
              display: block;
              line-height: 1.2;
              padding: 10px 5px 5px 20px;
              margin: 0;
              &:last-child {
                border-bottom: none;
              }
              &:hover {
                background-color: white;
              }
              @media screen and (min-width: $midwidth){
                border-bottom: 2px solid lightgrey;
                text-align: left;
              }
              a {
                color: $color__via-grey;
                font-size: 16px;
                font-weight: 500;
                &:hover {
                  color: $color__via-red;
                }
                @media screen and (min-width: $midwidth){
                  color: $color__via-grey;
                  &:hover {
                    color: $color__via-grey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#colophon {
  background-color: $color__via-grey;
  padding: 20px;
  color: white;
  @media screen and (min-width: $tabwidth){
    padding: 3%;
  }
  >.row-1 {
    @include flexbox();
    @include flexbox-direction(column);
    @include flexbox-align-content(center);
    @include flexbox-align-items(center);
    @include flexbox-justify(flex-start);
    @media screen and (min-width: $tabwidth){
      @include flexbox-align-content(flex-start);
      @include flexbox-align-items(flex-start);
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
    }
    >.col-1 {
      width: 100%;
      @media screen and (min-width: $tabwidth){
        width: 40%;
      }
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        li {
          display: block;
          list-style-type: none;
          margin: 10px 0;
          @media screen and (min-width: $tabwidth){
            margin: 0;
          }
          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            &:hover {
              color: $color__via-green;
            }
          }
        }
      }
      .telephone-number {
        margin: 10px 0 0 0;
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: left;
          margin: 20px 0 0 0;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          &:hover {
            color: $color__via-green;
          }
        }
      }
    }
    >.col-2 {
      width: 100%;
      margin: 20px 0 0 0;
      text-align: center;
      @media screen and (min-width: $tabwidth){
        width: 20%;
        margin: 0;
        min-width: 200px;
      }
      a {
        width: 45px;
        height: 45px;
        line-height: 1;
        color: white;
        text-decoration: none;
        border-radius: 50%;
        border: 1px solid white;
        display: inline-block;
        margin: 0 8px;
        padding: 8px 0;
        font-size: 27px;
        &:hover {
          color: $color__via-green;
          border: 1px solid $color__via-green;
        }
      }
    }
    >.col-3 {
      width: 100%;
      text-align: center;
      margin: 20px 0 0 0;
      @media screen and (min-width: $tabwidth){
        width: 40%;
        margin: 0;
        text-align: right;
      }
      header {
        h2 {
          margin: 0;
          font-size: 20px;
          font-weight: 500;
          @media screen and (min-width: $midwidth){
            font-size: 30px;
          }
        }
      }
    }
  }
  >.row-2 {
    margin: 20px 0 0 0;
    color: $color__via-light-grey;
    text-align: center;
    font-size: 14px;
    @media screen and (min-width: $tabwidth){
      margin: 6% 0 0 0;
    }
    a {
      color:inherit;
      text-decoration: none;
      &:hover {
        color:inherit;
        text-decoration: underline;
      }
    }
  }
}
.img-popup {
  background-color: white;
  padding: 70px 20px 20px 20px; 
  img {
    width: 100%;
    display: block;
  }
}