.template-index {
    >.row-1 {
        background-color: $color__via-grey;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        padding: 20px 20px 40px 20px;
        @media screen and (min-width: $midwidth){
            padding: 16% 0 10% 0;
        }
        >.row-1 {
            padding: 0 0 20px 0;
            text-align: center;
            text-shadow: 2px 2px 10px black;
            color: white;
            @media screen and (min-width: $midwidth){
                padding: 0 3% 35% 3%;
            }
            header {
                h2 {
                    margin: 0;
                    font-size: 35px;
                    @media screen and (min-width: $midwidth){
                        font-size: 60px;
                    }

                }
                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 500;
                    @media screen and (min-width: $midwidth){
                        font-size: 30px;
                    }

                }
            }
        }
        >.row-2 {
            >.row-1 {
                padding: 0 ;
                @media screen and (min-width: $midwidth){
                    padding: 0 1.04%;
                }
                .block {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid white;
                    margin: 20px 0 0 0;
                    &:first-child {
                        margin: 0;
                    }
                    @media screen and (min-width: $midwidth){
                        width: 1/3*88%;
                        margin: 0 2%;
                        float: left;
                        display: block;
                        &:first-child {
                            margin: 0 2%;
                        }
                    }
                    >.wrapper {
                        @include flexbox();
                        @include flexbox-direction(column);
                        @include flexbox-align-content(center);
                        @include flexbox-align-items(center);
                        @include flexbox-justify(flex-start);
                        height: 100%;
                        background-color: white;
                        padding: 15px 30px 10px 30px;
                        text-align: center;
                        header {
                            width: 100%;
                            h3 {
                                margin: 0;
                                font-size: 25px;
                                font-weight: 300;
                                text-align: center;
                                line-height: 1.2;
                                @media screen and (min-width: $deskwidth){
                                    font-size: 35px;
                                }
                                span.red {
                                    color: $color__via-red;
                                }
                            }
                        }
                        .copy {
                            width: 100%;
                            text-align: left;
                            margin: 15px 0 50px 0;
                            font-size: 14px;
                            color: black;
                            @media screen and (min-width: $tabwidth){
                                font-size: 16px;
                            }

                        }
                        a.link {
                            margin: auto 0 0 0;
                            text-align: center;
                            padding: 10px 30px;
                            color: white;
                            font-size: 18px;
                            background-color: $color__via-red;
                            text-decoration: none;
                            @media screen and (min-width: $midwidth){
                                display: block;
                                width: 100%;
                                padding: 10px;
                            }
                            &:hover {
                                color: white;
                                background-color: $color__via-red-hover;
                            }
                        }
                    }
                }
            }
            >.row-2 {
                padding: 20px 0 0 0;
                color: $color__via-light-grey;
                text-align: center;
                font-size: 20px;
                font-style: italic;
                @media screen and (min-width: $tabwidth){
                    padding: 3% 4% 0 4%;
                }
                @media screen and (min-width: $midwidth){
                    font-size: 30px;
                }
            }
        }
    }
    >.row-2 {
        padding: 40px 20px 20px 20px;
        position: relative;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 8% 3% 6% 3%;
        }
        >.button-top {
            @include translatexy(-50%,-50%);
            position: absolute;
            top: 0;
            left: 50%;
            width: 80%;
            text-align: center;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                width: auto;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
        header {
            text-align: center;
            h2 {
                margin: 0;
                color: $color__via-green;
                font-size: 30px;
                font-weight: 500;
                @media screen and (min-width: $midwidth){
                    font-size: 50px;
                }
            }
        }
        .spacer {
            margin: 0 auto 20px auto;
            width: 200px;
            border-top: 3px solid $color__via-green;
        }
        .copy {
            text-align: left;
            @media screen and (min-width: $midwidth){
                width: 60%;
                margin: 0 auto;
            }
        }
        img.banner {
            width: 100%;
            display: block;
            padding: 20px 0 30px 0;
            @media screen and (min-width: $tabwidth){
                margin: 4% 0 6% 0;
            }
        }
        >.button-bottom {
            width: calc(.8*(100% + 40px));
            margin: 0 auto;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                width: auto;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
    }
    >.row-3 {
        background-color: $color__via-green;
        padding: 20px 10px;
        @media screen and (min-width: $tabwidth){
            padding: 8% 2%;
        }
        >header {
            text-align: center;
            h2 {
                color: white;
                margin: 0;
                font-size: 30px;
                @media screen and (min-width: $midwidth){
                    font-size: 50px;
                }
            }
        }
        >.spacer {
            border-top: 3px solid white;
            width: 200px;
            margin: 10px auto 20px auto;
            @media screen and (min-width: $tabwidth){
                margin: 10px auto 8% auto;
            }
        }
        .testimonials.flexslider {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: calc(96% - 100px);
                margin: 0 auto;
            }
            ul {
                li {
                    margin: 0 60px 0 0;
                    &:last-child {
                        margin: 0;
                    }
                    * {
                        box-sizing: border-box;
                    }
                    >.wrapper {
                        padding: 1px;
                        height: 100%;
                        >.wrapper {
                            padding: 8px;
                            border: 1px solid white;
                            height: 100%;
                            >.wrapper {
                                height: 100%;
                                @include flexbox();
                                @include flexbox-direction(column);
                                @include flexbox-align-content(center);
                                @include flexbox-align-items(center);
                                @include flexbox-justify(flex-start);
                                background-color: white;
                                padding: 30px;
                                .copy {
                                    width: 100%;
                                    text-align: center;
                                    font-size: 14px;
                                    margin: 0 0 20px 0;
                                }
                                .spacer {
                                    margin: auto auto 0 auto;
                                    width: 70%;
                                    border-top: 1px dashed $color__via-grey;
                                }
                                header {
                                    margin: 20px 0 0 0;
                                    text-align: center;
                                    h2 {
                                        margin: 0;
                                        font-size: 16px;
                                        color: black;
                                    }
                                    h3 {
                                        margin: 0;
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: $color__via-grey;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    padding: 20px;
    @media screen and (min-width: $midwidth){
        padding: 8%;
    }
    header {
        h1 {
            margin: 0;
            color: $color__via-green;
            font-weight: 500;
            font-size: 30px;
            text-transform: uppercase;
            @media screen and (min-width: $tabwidth){
                font-size: 45px;
            }
        }
    }
    .copy {
        margin: 20px 0 0 0;
    }
}
.template-about {
    >.row-1 { 
        padding: 20px;
        background-color: $color__via-lightest-grey;
        @media screen and (min-width: $midwidth){
            padding: 8%;
        }
        header {
            h1 {
                margin: 0;
                color: $color__via-grey;
                font-weight: 500;
                font-size: 30px;
                text-transform: uppercase;
                @media screen and (min-width: $tabwidth){
                    font-size: 45px;
                }
            }
        }
        .copy {
            margin: 20px 0 0 0;
        }
    }
    >.row-2 {
        padding: 0 0 4% 0;
        header.row-1 {
            padding: 20px;
            @media screen and (min-width: $midwidth){
                padding: 8% 8% 4% 8%;
            }
            h2 {
                margin: 0;
                color: $color__via-grey;
                font-weight: 300;
                font-size: 25px;
                text-transform: uppercase;
                text-align: center;
                @media screen and (min-width: $tabwidth){
                    font-size: 40px;
                }
            }
        }
        >.row-2.team {
            @media screen and (min-width: $midwidth){
                padding: 0 4%;
            }
            section.member {
                width: 100%;
                padding: 20px;
                @media screen and (min-width: $tabwidth){
                    float: left;
                    width: 50%;
                    padding: 4%;
                }
                >.row-1 {
                    padding: 0 0 20px 0;
                    margin: 0 0 20px 0;
                    border-bottom: 1px dashed $color__via-grey;
                    @include flexbox();
                    @include flexbox-align-content(center);
                    @include flexbox-align-items(center);
                    @include flexbox-direction(column);
                    @media screen and (min-width: $tabwidth){
                        @include flexbox-direction(row);
                    }
                    >.col-1 {
                        width: 80%;
                        padding: 8px;
                        border: 1px solid $color__via-green;
                        @media screen and (min-width: $tabwidth){
                            width: 35%;
                            float:left;
                        }
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                    >.col-2 {
                        width: 100%;
                        padding: 0 20px;
                        margin: 20px 0 0 0;
                        @media screen and (min-width: $tabwidth){
                            width: 65%;
                            margin: 0;
                            float:left;
                        }
                        header {
                            h3 {
                                margin: 0;
                                color: $color__via-red;
                                font-weight: 500;
                                font-size: 30px;
                                line-height: 1;
                            }
                        }
                        .title {
                            font-size: 20px;
                            color: $color__via-grey;
                        }
                    }
                }
                >.row-2.copy {
                    color: black;
                }
            }
        }
    }
}   
.template-via-smart {
    >.header-background-image {
        background-position: center;
        background-size: cover;
        padding: 20% 0;
        min-height: 300px;
    }
    >.row-1 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3%;
        }
        >header {
            >.wrapper { 
                display: table;
                border: 1px solid white;
                padding: 8px;
                margin: -70px auto 0 auto;
                @media screen and (min-width: $tabwidth){
                    margin: calc(-1*7/.94*1% - 80px) auto 4% auto;
                }
                h1 {
                    font-size: 35px;
                    background-color: white;
                    margin: 0;
                    font-weight: 500;
                    padding: 10px 20px;
                    line-height: 1;
                    @media screen and (min-width: $tabwidth){
                        padding: 20px 40px;
                        font-size: 50px;
                    }
                    span.red {
                        color: $color__via-red;
                    }
                }
            }
            .sub-heading {
                font-size: 20px;
                font-weight: 300;
                color: $color__via-grey;
                @media screen and (min-width: $tabwidth){
                    font-size: 30px;
                }
            }
        }
    }
    >.row-2 {
        background-color: $color__via-green;
        padding: 20px;
        color: white;
        @media screen and (min-width: $tabwidth){
            padding: 4% 10% 15% 10%;
        }
        >header {
            text-align: center;
            h2 {
                font-size: 30px;
                margin: 0 0 8% 0;
                font-weight: 500;
                @media screen and (min-width: $tabwidth){
                    font-size: 40px;
                }
            }
        }
        >.col-1 {
            padding-top: 80px;
            width: 80%;
            margin: 0 auto;
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 30%;
                margin: 0;
                padding-right: 12%;
            }
            #Layer_1 {
                width: 70%;
                margin: 0 auto -25% auto;
                display: block;
            }
            #Layer_2 {
                width: 100%;
                margin: 0 auto;
                display: block;
            }
        }
        >.col-2 {
            margin: 20px 0 0 0;
            @media screen and (min-width: $tabwidth){
                margin: 0;
                float: left;
                width: 70%;
                font-size: 25px;
            }
            .row {
                margin: 20px 0;
                @media screen and (min-width: $tabwidth){
                    margin: 40px 0;
                }
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                >.col-1 {
                    font-size: 30px;
                    width: 30px;
                    color: white;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (min-width: $tabwidth){
                        font-size: 60px;
                        width: 60px;
                        vertical-align: middle;
                    }
                }
                >.col-2 {
                    display: inline-block;
                    width: calc(100% - 40px);
                    color: white;
                    font-size: 20px;
                    font-weight: 300;
                    vertical-align: top;
                    @media screen and (min-width: $tabwidth){
                        width: calc(100% - 70px);
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    >.row-3 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3%;
        }
        .heading {
            font-size: 30px;
            font-weight: 500;
            color: $color__via-green;
            @media screen and (min-width: $tabwidth){
                font-size: 40px;
            }

        }
        .button {
            margin: 20px auto 0 auto;
            display: inline-block;
            @media screen and (min-width: $tabwidth){
                margin: 6% 0 0 0;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
    }
    >.row-4 {
        background-color: $color__via-grey;
        position: relative;
        padding: 20px 20px 30px 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3% 9.2% 3%;
        }
        >header {
            h2 {
                margin: 0;
                font-size: 35px;
                color: white;
                line-height: 1.1;
                text-transform: uppercase;
                font-weight: 500;
                @media screen and (min-width: $tabwidth){
                    font-size: 50px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: 70px;
                }
            }
        }
        img {
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    >.row-5 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $midwidth){
            padding: 6% 0;
        }
        >.block-wrapper {
            @media screen and (min-width: $midwidth){
                padding: 0 1.04%;
            }
            .block {
                width: 100%;
                color: white;
                border: 1px solid $color__via-grey;
                padding: 8px;
                margin: 20px 0 0 0;
                &:first-child {
                    margin: 0;
                }
                @media screen and (min-width: $midwidth){
                    width: 1/3*88%;
                    margin: 0 2%;
                    float: left;
                    display: block;
                    &:first-child {
                        margin: 0 2%;
                    }
                }
                >.wrapper{
                    padding: 20px;
                    background-color: $color__via-grey;
                    height: 100%;
                    @media screen and (min-width: $midwidth){
                        padding: 40px 20px 70px 20px;
                    }
                    >.wrapper{
                        @media screen and (min-width: $midwidth){
                            min-height: 260px;
                        }
                        @media screen and (min-width: $deskwidth){
                            min-height: 220px;
                        }
                        i {
                            font-size: 100px;
                            line-height: 1;
                        }
                        >header {
                            margin: 20px 0;
                            h3 {
                                margin: 0;
                                font-size: 25px;
                                font-weight: 500;
                                @media screen and (min-width: $tabwidth){
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .copy { 
                        text-align: left;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
        }
    }
    >.row-6 {
        text-align: center;
        padding: 20px 20px 40px 20px;
        @media screen and (min-width: $midwidth){
            padding: 2% 0 6% 0;
            margin: 0 auto;
        }
        >.image-wrapper {
            @media screen and (min-width: $midwidth){
                padding: 0 1.04%;
            }
            .slide {
                width: 100%;
                margin: 20px 0 0 0;
                &:first-child {
                    margin: 0;
                }
                @media screen and (min-width: $midwidth){
                    width: 1/4*84%;
                    margin: 0 2%;
                    float: left;
                    display: block;
                    &:first-child {
                        margin: 0 2%;
                    }
                }
                a {
                    display: block;
                    padding: 5px;
                    >.wrapper {
                        padding: 8px;
                        border: 1px solid black;
                        box-shadow: 2px 2px 5px darkgrey;
                        >img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
                .hidden {
                    display: none;
                }
            }
        }
        >.button {
            display: inline-block;
            margin: 30px auto 0 auto;
            @media screen and (min-width: $tabwidth){
                margin: 4% 0 0 0;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
    }
}
.template-via-track {
    >.header-background-image {
        background-position: center;
        background-size: cover;
        padding: 20% 0;
        min-height: 300px;
    }
    >.row-1 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 4% 4% 6% 4%;
        }
        >header {
            margin: 0 0 20px 0;
            @media screen and (min-width: $tabwidth){
                margin: 0;
            }
            >.wrapper { 
                display: table;
                border: 1px solid white;
                padding: 8px;
                margin: -70px auto 0 auto;
                @media screen and (min-width: $tabwidth){
                    margin: calc(-1*4/.92*1% - 80px) auto 0 auto;
                }
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    background-color: white;
                    margin: 0;
                    padding: 10px 20px;
                    line-height: 1;
                    @media screen and (min-width: $tabwidth){
                        font-size: 50px;
                        padding: 20px 40px;
                    }
                    span.red {
                        color: $color__via-red;
                    }
                }
            }
        }
        >.wrapper {
            margin: 20px 0;
            @media screen and (min-width: $tabwidth){
                @include flexbox();
                @include flexbox-direction(row);
                @include flexbox-align-content(center);
                @include flexbox-align-items(center);
                @include flexbox-justify(center);
                margin: 7% 0 6% 0;
            }
            >.col-1 {
                text-align: center;
                font-size: 25px;
                font-weight: 300;
                @media screen and (min-width: $tabwidth){
                    text-align: right;
                    width: 50%;
                }
                @media screen and (min-width: $midwidth){
                    font-size: 35px;
                }
            }
            >.col-2 {
                margin: 20px 0 0 0;
                @media screen and (min-width: $tabwidth){
                    width: 50%;
                    margin: 0;
                    padding: 0 4%;
                }
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
        >.button {
            margin: 20px auto 0 auto;
            display: inline-block;
            @media screen and (min-width: $tabwidth){
                margin: 6% 0 0 0;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
    }
    >.row-2 {
        background-color: $color__via-green;
        padding: 20px;
        color: white;
        font-size: 25px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 8% 20%;
            font-size: 35px;
        }
    }
    >.row-4 {
        background-color: $color__via-grey;
        position: relative;
        padding: 20px 20px 30px 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3% 9.2% 3%;
        }
        >header {
            h2 {
                margin: 0;
                font-size: 35px;
                color: white;
                line-height: 1.1;
                text-transform: uppercase;
                font-weight: 500;
                @media screen and (min-width: $tabwidth){
                    font-size: 50px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: 70px;
                }
            }
        }
        img {
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    >.row-5 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $midwidth){
            padding: 6% 0 4% 0;
        }
        >.block-wrapper {
            @media screen and (min-width: $midwidth){
                padding: 0 1.04%;
            }
            .block {
                width: 100%;
                padding: 8px;
                color: white;
                border: 1px solid $color__via-grey;
                margin: 20px 0 0 0;
                &:first-child {
                    margin: 0;
                }
                @media screen and (min-width: $midwidth){
                    width: 1/3*88%;
                    margin: 0 2%;
                    float: left;
                    display: block;
                    &:first-child {
                        margin: 0 2%;
                    }
                }
                >.wrapper{
                    padding: 20px;
                    background-color: $color__via-grey;
                    height: 100%;
                    @media screen and (min-width: $midwidth){
                        padding: 40px 20px 70px 20px;
                    }
                    >.wrapper{
                        @media screen and (min-width: $midwidth){
                            min-height: 260px;
                        }
                        @media screen and (min-width: $deskwidth){
                            min-height: 220px;
                        }
                        i {
                            font-size: 100px;
                            line-height: 1;
                        }
                        >header {
                            margin: 20px 0;
                            h3 {
                                margin: 0;
                                font-size: 25px;
                                font-weight: 500;
                                @media screen and (min-width: $tabwidth){
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .copy { 
                        text-align: left;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
        }
    }
    >.row-6 {
        text-align: center;
        padding: 20px 20px 40px 20px;
        @media screen and (min-width: $midwidth){
            padding: 2% 0 6% 0;
            margin: 0 auto;
        }
        >.image-wrapper {
            @media screen and (min-width: $midwidth){
                padding: 0 1.04%;
            }
            .slide {
                width: 100%;
                margin: 20px 0 0 0;
                &:first-child {
                    margin: 0;
                }
                @media screen and (min-width: $midwidth){
                    width: 1/4*84%;
                    margin: 0 2%;
                    float: left;
                    display: block;
                    &:first-child {
                        margin: 0 2%;
                    }
                }
                a {
                    display: block;
                    padding: 5px;
                    >.wrapper {
                        padding: 8px;
                        border: 1px solid black;
                        box-shadow: 2px 2px 5px darkgrey;
                        >img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
                .hidden {
                    display: none;
                }
            }
        }
        >.button {
            display: inline-block;
            margin: 30px auto 0 auto;
            @media screen and (min-width: $tabwidth){
                margin: 4% 0 0 0;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                    background-color: $color__via-red-hover;
                }
            }
        }
    }
}