.template-index {
    >.row-1 {
        background-color: $color__via-grey;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        padding: 20px 20px 40px 20px;
        @media screen and (min-width: $tabwidth){
            padding: 35% 0 10% 0;
        }
        @media screen and (min-width: $midwidth){
            padding: 16% 0 10% 0;
        }
        >.row-1 {
            padding: 0 20px 20px 20px;
            text-align: center;
            text-shadow: 2px 2px 10px black;
            color: white;
            @media screen and (min-width: $midwidth){
                padding: 0 3% 35% 3%;
            }
            header {
                h2 {
                    margin: 0;
                    font-size: 35px;
                    @media screen and (min-width: $midwidth){
                        font-size: 60px;
                    }

                }
                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 500;
                    @media screen and (min-width: $midwidth){
                        font-size: 30px;
                    }

                }
            }
        }
        >.row-2 {
            >.row-1 {
                padding: 0 20px;
                @media screen and (min-width: $midwidth){
                    padding: 0 1.04%;
                }
                .block {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid white;
                    margin: 20px 0 0 0;
                    &:first-child {
                        margin: 0;
                    }
                    @media screen and (min-width: $midwidth){
                        width: 1/3*88%;
                        margin: 0 2%;
                        float: left;
                        display: block;
                        &:first-child {
                            margin: 0 2%;
                        }
                    }
                    >.wrapper {
                        height: 100%;
                        background-color: white;
                        padding: 15px 30px 10px 30px;
                        header {
                            h3 {
                                margin: 0;
                                font-size: 25px;
                                font-weight: 300;
                                text-align: center;
                                line-height: 1.2;
                                @media screen and (min-width: $tabwidth){
                                    font-size: 35px;
                                }
                                span.red {
                                    color: $color__via-red;
                                }
                            }
                        }
                        .copy {
                            margin: 15px 0 0 0;
                            font-size: 14px;
                            color: black;
                            @media screen and (min-width: $tabwidth){
                                font-size: 16px;
                            }

                        }
                        a.link {
                            display: block;
                            margin: 50px 0 0 0;
                            text-align: center;
                            padding: 10px;
                            color: white;
                            font-size: 18px;
                            background-color: $color__via-red;
                            text-decoration: none;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
            >.row-2 {
                padding: 20px 20px 0 20px;
                color: $color__via-light-grey;
                text-align: center;
                font-size: 20px;
                font-style: italic;
                @media screen and (min-width: $tabwidth){
                    padding: 3% 4% 0 4%;
                }
                @media screen and (min-width: $midwidth){
                    font-size: 30px;
                }
            }
        }
    }
    >.row-2 {
        padding: 40px 20px 20px 20px;
        position: relative;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 8% 3% 6% 3%;
        }
        >.button-top {
            @include translatexy(-50%,-50%);
            position: absolute;
            top: 0;
            left: 50%;
            width: 80%;
            text-align: center;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                width: auto;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                }
            }
        }
        header {
            text-align: center;
            h2 {
                margin: 0;
                color: $color__via-green;
                font-size: 30px;
                font-weight: 500;
                @media screen and (min-width: $midwidth){
                    font-size: 50px;
                }
            }
        }
        .spacer {
            margin: 0 auto 20px auto;
            width: 200px;
            border-top: 3px solid $color__via-green;
        }
        .copy {
            text-align: left;
            @media screen and (min-width: $midwidth){
                width: 60%;
                margin: 0 auto;
            }
        }
        img.banner {
            width: 100%;
            display: block;
            padding: 20px 0 30px 0;
            @media screen and (min-width: $tabwidth){
                margin: 4% 0 6% 0;
            }
        }
        >.button-bottom {
            width: calc(.8*(100% + 40px));
            margin: 0 auto;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                width: auto;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                }
            }
        }
    }
    >.row-3 {
        background-color: $color__via-green;
        padding: 20px 10px;
        @media screen and (min-width: $tabwidth){
            padding: 8% 2%;
        }
        >header {
            text-align: center;
            h2 {
                color: white;
                margin: 0;
                font-size: 30px;
                @media screen and (min-width: $midwidth){
                    font-size: 50px;
                }
            }
        }
        >.spacer {
            border-top: 3px solid white;
            width: 200px;
            margin: 10px auto 20px auto;
            @media screen and (min-width: $tabwidth){
                margin: 10px auto 8% auto;
            }
        }
        .testimonials.flexslider {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: calc(96% - 100px);
                margin: 0 auto;
            }
            ul {
                li {
                    margin: 0 60px 0 0;
                    &:last-child {
                        margin: 0;
                    }
                    .wrapper {
                        @include flexbox();
                        @include flexbox-direction(column);
                        @include flexbox-align-content(center);
                        @include flexbox-align-items(center);
                        @include flexbox-justify(flex-start);
                        background-color: white;
                        padding: 30px;
                        .copy {
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                            margin: 0 0 20px 0;
                        }
                        .spacer {
                            margin: auto auto 0 auto;
                            width: 100px;
                            border-top: 1px solid $color__via-grey;
                        }
                        header {
                            margin: 20px 0 0 0;
                            text-align: center;
                            h2 {
                                margin: 0;
                                font-size: 16px;
                                color: black;
                            }
                            h3 {
                                margin: 0;
                                font-weight: 500;
                                font-size: 14px;
                                color: $color__via-grey;
                            }
                        }
                    }
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    padding: 20px;
    @media screen and (min-width: $tabwidth){
        padding: 8%;
    }
    header {
        h1 {
            margin: 0;
            color: $color__via-green;
            font-weight: 500;
            font-size: 30px;
            @media screen and (min-width: $tabwidth){
                font-size: 45px;
            }
        }
    }
    .copy {
        margin: 20px 0 0 0;
    }
}
.template-via {
    >.row-1 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3%;
        }
        >header {
            h1 {
                font-size: 35px;
                margin: 0 0 20px 0;
                font-weight: 500;
                @media screen and (min-width: $tabwidth){
                    font-size: 50px;
                }
                span.red {
                    color: $color__via-red;
                }
            }
            .sub-heading {
                font-size: 20px;
                font-weight: 300;
                color: $color__via-grey;
                @media screen and (min-width: $tabwidth){
                    font-size: 30px;
                }
            }
        }
    }
    >.row-2 {
        background-color: $color__via-green;
        padding: 20px;
        color: white;
        @media screen and (min-width: $tabwidth){
            padding: 4% 10% 15% 10%;
        }
        >header {
            text-align: center;
            h2 {
                font-size: 30px;
                margin: 0 0 8% 0;
                font-weight: 500;
                @media screen and (min-width: $tabwidth){
                    font-size: 40px;
                }
            }
        }
        >.col-1 {
            padding-top: 80px;
            width: 80%;
            margin: 0 auto;
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 30%;
                margin: 0;
                padding-right: 12%;
            }
            #Layer_1 {
                width: 70%;
                margin: 0 auto -25% auto;
                display: block;
            }
            #Layer_2 {
                width: 100%;
                margin: 0 auto;
                display: block;
            }
        }
        >.col-2 {
            margin: 20px 0 0 0;
            color: white;
            font-size: 20px;
            font-weight: 300;
            @media screen and (min-width: $tabwidth){
                margin: 0;
                float: left;
                width: 70%;
                font-size: 25px;
            }
            p {
                margin: 20px 0;
                @media screen and (min-width: $tabwidth){
                    margin: 40px 0;
                }
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    >.row-3 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3%;
        }
        .heading {
            font-size: 30px;
            font-weight: 500;
            color: $color__via-green;
            @media screen and (min-width: $tabwidth){
                font-size: 40px;
            }

        }
        .button {
            margin: 20px auto 0 auto;
            width: calc(.8*(100% + 40px));
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                width: auto;
                margin: 6% 0 0 0;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                }
            }
        }
    }
    >.row-4 {
        background-color: $color__via-grey;
        position: relative;
        padding: 20px 20px 30px 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 7% 3% 9.2% 3%;
        }
        >header {
            h2 {
                margin: 0;
                font-size: 40px;
                color: white;
                line-height: 1.1;
                text-transform: uppercase;
                @media screen and (min-width: $tabwidth){
                    font-size: 50px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: 70px;
                }
            }
        }
        img {
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    >.row-5 {
        padding: 20px;
        text-align: center;
        @media screen and (min-width: $tabwidth){
            padding: 6% 0 8% 0;
        }
        >.block-wrapper {
            @media screen and (min-width: $midwidth){
                padding: 0 1.04%;
            }
            .block {
                width: 100%;
                padding: 20px;
                background-color: $color__via-grey;
                color: white;
                border: 1px solid white;
                margin: 20px 0 0 0;
                &:first-child {
                    margin: 0;
                }
                @media screen and (min-width: $midwidth){
                    width: 1/3*88%;
                    margin: 0 2%;
                    padding: 40px 20px 70px 20px;
                    float: left;
                    display: block;
                    &:first-child {
                        margin: 0 2%;
                    }
                }
                i {
                    font-size: 100px;
                    line-height: 1;
                }
                >header {
                    margin: 20px 0;
                    h3 {
                        margin: 0;
                        font-size: 25px;
                        font-weight: 500;
                        @media screen and (min-width: $tabwidth){
                            font-size: 30px;
                        }
                    }
                }
                .copy { 
                    text-align: left;
                    font-weight: 300;
                    color: white;
                }
            }
        }
        >.button {
            width: calc(.8*(100% + 40px));
            margin: 30px auto 0 auto;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
                margin: 10% 0 0 0;
                width: auto;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-size: 18px;
                text-decoration: none;
                color: white;
                background-color: $color__via-red;
                &:hover {
                    color: white;
                }
            }
        }
    }
}